body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Georgia", serif;
  font-weight: bold;
  overflow-x: hidden;
}
* {
  font-family: "Georgia", serif;
  font-weight: bold;
}
#root {
  width: 100%;
  height: 100%;
}

.css-ed63ti-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none !important;
}
.css-ed63ti-MuiInputBase-root-MuiInput-root:hover {
  border-bottom: none !important;
}
.css-1v96840-MuiInputBase-root-MuiInput-root {
  border: none !important;
}
.css-1v96840-MuiInputBase-root-MuiInput-root::before {
  border: none !important;
}
.css-1v96840-MuiInputBase-root-MuiInput-root::after {
  border-color: transparent !important;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.css-1yrc8ca-MuiInputBase-input-MuiInput-input {
  border-color: transparent !important;
}
.css-1yrc8ca-MuiInputBase-input-MuiInput-input::before {
  border: none !important;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::after {
  border: none !important;
}
.css-5h82ro-MuiInputBase-root-MuiInput-root::before {
  border: none !important;
}

@media screen and (max-width: 600px) {
  .full-display-mobile {
    width: 100% !important;
  }
}
input,
textarea,
fieldset {
  color: #434d55 !important;
}
label {
  color: #434d55 !important;
}

.nav-link-desktop-v:is(:hover) {
  border-radius: 1.75rem !important;
  background: rgb(45, 136, 86) !important;
}

.nav-link-desktop-v:hover > svg {
  color: white !important;
}
.nav-link-desktop-v:hover > div > span {
  color: white !important;
}
